a{
    color: aqua;
}
h1{
    color: white;
}
p{
    color: white;
}
body{
    background: rgb(37, 37, 37)
}
.about img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 100px;
}
div{
    display: inline-block;
}
.des{
    margin-top: 50px;
}
.info{
    margin-left: 50px;
}